body {
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #F8F3DD;
}

div {
    margin:30px;
}

h1 {
    font-family: Noto-Serif-TC;
    font-weight: bold;
    color: #7B6661;
    text-align: center;
    margin: 20px;
}

h2 {
    font-family: Noto-Serif-TC;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 30px;
    height:50px;
    width:200px;
    line-height:50px;
    text-align:center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

h3 {
    font-family: Noto-Serif-TC;
    font-weight: bolder;
    color: #000000;
    font-size: 25px;
    margin:20px;
}

h4 {
    font-family: Noto-Serif-TC;
    font-weight: bolder;
    color: #000000;
    font-size: 20px;
}

.result {
    font-family: Noto-Serif-TC;
    font-weight: bold;
    color: #000000;
}


#title-1 {
    background-color: #8DB4CD;
}

#title-2 {
    background-color: #7092BE;
}

#title-3 {
    background-color: #7479A7;
}

#title-4 {
    background-color: #4D4E86;
}

.wrap {
    position: absolute;
    left: 44%;
}

.first {
    float:left;
}

.clear{
    content:'';
    display:block;
    clear:both;
}

#send {
    position: absolute;
    left: 46%;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #735E7D;
    font-family: Noto-Serif-TC;
    font-size:25px;
    font-weight: bold;
    color: #FFFFFF;
    outline:none;
    margin-top:30px;
    
}

